@using CodeMasteryDemo
@{
    ViewBag.Title = "Responsive Media";
}

@section styles {
    @Styles.Render("~/Content/responsive-media.css")
    <!--[if lt IE 8]>
        <style type="text/css">
            .object-wrapper {
                position: static !important;
                height: auto !important;
                width: 100% !important;
                padding: 0 !important;
                margin: 0 auto !important;
            }
            object {
                position: static !important;
                width: 800px !important;
                height: 450px !important;
            }
        </style>
    <![endif]-->
}

<div class="pagewrap clearfix @Html.MobileClass()">
    <header class="header-main">
        <h1>Responsive Media</h1>
    </header>
    <section id="images">
        <header class="header-sub"><h2>Images</h2></header>
        <div class="lightbox">
            <div class="image-group">
                <img src="~/Content/images/motu/drummer.jpg" />
                <img src="~/Content/images/motu/guitar.jpg" />
            </div>
            <div class="image-group">
                <img src="~/Content/images/motu/keys.jpg" />
                <img src="~/Content/images/motu/sing.jpg" />
            </div>
        </div>
        <div class="lightbox">
            <div class="zoom-crop">
                <img src="~/Content/images/motu/drummer.jpg" />
            </div>
        </div>
        <div class="lightbox">
            <img src="@Url.Content("~/Content/images/rect.svg")" >
                <img src="~/Content/images/rect.png">
            </img>
        </div>
    </section>
    <section id="video">
        <header class="header-sub"><h2>Video</h2></header>
        <div class="lightbox">
            @Html.Video(
                new[] 
                {
                    "http://ajryan-github-downloads.s3.amazonaws.com/remastering.webm",
                    "http://ajryan-github-downloads.s3.amazonaws.com/remastering.mp4"
                },
                "http://ajryan-github-downloads.s3.amazonaws.com/remastering.m4v",
                "~/Content/images/motu/remastering_poster.jpg")
        </div>
    </section>
</div>
