@{
    ViewBag.Title = "Typography";
}

@section styles {
    <style type="text/css">
        .header-main
        {
            padding: 1em 0 0.5em 0.5em;
            background-color: #66cdaa;
        }

        .header-sub
        {
            padding: 0.65em 0 0.5em 0.5em;
            background-color: #cdaa66;
            margin-bottom: 1em;
        }
    </style>
}
<div class="pagewrap clearfix">
    <header class="header-main">
        <h1>Typography</h1>
    </header>
    <section>
        <header class="header-sub">
            <h2>Em-based Typography</h2>
        </header>
        <div class="ems">
            
        </div>
    </section>
    <section>
        <header class="header-sub">
            <h2>Px-based Typography</h2>
        </header>
        <div class="pixels"></div>
    </section>
</div>
