@{
    ViewBag.Title = "Typography";
}

@section styles {
    <style type="text/css">
        .header-main
        {
            padding: 1em 0 0.5em 0.5em;
            background-color: #66cdaa;
        }
        .header-sub
        {
            padding: 0.65em 0 0.5em 0.5em;
            background-color: #cdaa66;
            margin-bottom: 1em;
        }
        .header-sub h2 {
            display: inline-block;
            margin-right: 2em;
        } 
        .header-sub button {
            margin-bottom: 0;
        }
        .ems, .pixels {
            padding-left: 10px;
        }

        .ems *{
            font-size: 1em;
            margin-bottom: 10px;
        }
        .ems p { font: 1em/1.4 serif; }
        .ems h6 { font: 1.2em/1.4 sans-serif; }
        .ems h5 { font: 1.44em/1.4 sans-serif; }
        .ems h4 { font: 1.728em/1.4 sans-serif; }
        .ems h3 { font: 2.0736em/1.4 sans-serif; }
        .ems h2 { font: 2.48832em/1.4 sans-serif; }
        .ems h1 { font: 2.985984em/1.4 sans-serif; }

        .pixels * {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .pixels p { font: 16px/1.4 serif; }
        .pixels h6 {font: 19.2px/1.4 sans-serif; }
        .pixels h5 {font: 23.04px/1.4 sans-serif; }
        .pixels h4 {font: 27.648px/1.4 sans-serif; }
        .pixels h3 {font: 33.1776px/1.4 sans-serif; }
        .pixels h2 {font: 39.81312px/1.4 sans-serif; }
        .pixels h1 {font: 47.775744px/1.4 sans-serif; }
    </style>
}

@section scripts {
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(function() {
            $('#overlay').on('click', function() {
                var emSection = $('#em-section');
                var style = emSection.attr('style');
                if (style && style.length > 0) {
                    style = '';
                } else {
                    style = 'position: absolute; top: 0; left: 0;';
                }
                emSection.attr('style', style);
            });
        });
    </script>
}
<div class="pagewrap clearfix">
    <header class="header-main">
        <h1>Typography</h1>
    </header>
    <div id="positionwrapper" style="position: relative; clear: both; overflow: hidden;">
        <section id="em-section">
            <header class="header-sub">
                <h2>Em-based</h2><button id="overlay">Overlay</button>
            </header>
            <div class="ems">
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>
                <p>Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, &#8220;useful precedent&#8221; and the progressive tendencies of an able mind. For, let a man be as able &amp; original as he may, he can&#8217;t afford to discard knowledge of what has gone before or what is now going&hellip;</p>
            </div>
        </section>
        <section>
            <header class="header-sub">
                <h2>Px-based</h2>
            </header>
            <div class="pixels">
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>
                <p>Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, &#8220;useful precedent&#8221; and the progressive tendencies of an able mind. For, let a man be as able &amp; original as he may, he can&#8217;t afford to discard knowledge of what has gone before or what is now going&hellip;</p>
            </div>
        </section>
    </div>
</div>
