/* From Skeleton, based on E. Meyers reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }
body {
	line-height: 1; 
  width: 100%;
}
blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }
table {
	border-collapse: collapse;
	border-spacing: 0; }
input, textarea {
  font-size: 1em; /* avoid extra field zoom on iDevices */
}

/* Metro browser viewport */
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@viewport { width: device-width; }

/* Sane box-model */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Utility */
.clearfix:before,
.pagewrap:after {
  content: "\0020";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* Base classes */
body {
  background: #191919 url(images/body_bg.png) left top repeat;
  font: 100%/1.2 sans-serif;
  color: #333;
}

.pagewrap
{
  background-color: #efefef;
  width: 90%;
  height: 100%;
  margin: 0.5em auto 1em auto;
  overflow: hidden;
  padding: 0.5em;
  -webkit-box-shadow: 0.6em 0.6em 0.5em rgba(5, 5, 5, 0.8);
  box-shadow: 0.6em 0.6em 0.5em rgba(5, 5, 5, 0.8);
}

  .pagewrap.mobile {
    width: 100%;
    margin-top: 0;
  }

@media only screen and (max-width: 48.25em) {
  .pagewrap {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
}