@{
    ViewBag.Title = "Responsive.gs Grid System";
}

@section styles {
    @Styles.Render("~/Content/responsive-gs-16col.css")

    <style type="text/css">
        .container {
            background-color: #efefef;
            -webkit-box-shadow: 0.6em 0.6em 0.5em rgba(5, 5, 5, 0.8);
            box-shadow: 0.6em 0.6em 0.5em rgba(5, 5, 5, 0.8);
            margin-top: 10px;
        }
        .bg1 { background-color: #f0c0c0; }
        .bg2 { background-color: #c0f0c0; }
        .bg3 { background-color: #c0c0f0; }
        .bg4 { background-color: #c0c0c0; }
        article {
            padding: 0.5em;
        }
        h1, h2 {
            display: inline-block;
            margin-right: 0.5em;
        }
        header, footer {
            background-color: #66cdaa;
            padding: 0.5em;
        }
        .headline {
            vertical-align: bottom;
        }
        img.left-quarter {
            float: left;
            margin: 0.5em 1em 0.5em 0;
            max-width: 25%;
            min-width: 100px;
        }
        nav ul {
            padding: 0;
        }
        nav li {
            list-style-type: none;
            display: inline-block;
            margin-right: 1em;
            padding: 0.5em;
            background-color: #e0e0e0;
        }
    </style>
    <!--[if lt IE 8]>
        @Styles.Render("~/Content/responsive-gs-ie.css")
        <style type="text/css">
            article {
                padding: 0.5em 0;
            }
            article > * {
                margin: 0 0.5em;
            }
            footer.row {
                margin-bottom: 0;
            }
        </style>
    <![endif]-->
}

<div class="container row">
    <header class="row">
        <h1><a href="http://responsive.gs">Responsive.gs</a> Example</h1><h2>16-Column Responsive Grid</h2>
    </header>
    <nav class="row">
        <ul>
            <li><a href="#">Menu Item 1</a></li>
            <li><a href="#">Menu Item 2</a></li>
            <li><a href="#">Menu Item 3</a></li>
        </ul>
    </nav>
    <section class="row">
        <article class="col span_6 bg4"><h3>col span_6</h3><img class="left-quarter" src="http://fillmurray.com/200/300"><p>Bacon ipsum dolor sit amet prosciutto t-bone chuck corned beef bresaola pork loin. Pork loin short loin flank, brisket short ribs hamburger ball tip. Pancetta hamburger kielbasa chuck filet mignon rump jerky short ribs, boudin andouille. Leberkas tongue short loin sirloin filet mignon ground round tail, pastrami frankfurter brisket corned beef pork loin ham shankle strip steak. Sausage chuck ribeye, ground round pig ham frankfurter doner filet mignon jerky salami andouille bresaola tail jowl. Venison bacon capicola, frankfurter pig filet mignon salami. Tenderloin strip steak bresaola frankfurter chuck sirloin.</p></article>
        <article class="col span_6 bg3"><h3>col span_6</h3><p>Corned beef ribeye spare ribs ground round bacon hamburger boudin sirloin ham brisket short ribs rump filet mignon ball tip strip steak. Ball tip chicken shank capicola prosciutto short loin leberkas flank. Pastrami pancetta bresaola, pork shoulder ribeye beef beef ribs meatloaf sirloin chuck pig brisket. Venison biltong cow flank, tail pork belly beef ribs meatball. Shoulder bacon meatball strip steak biltong.</p></article>
        <article class="col span_4 bg2"><h3>col span_4</h3><p>Sirloin bacon leberkas, corned beef drumstick pork belly shoulder doner biltong pork chop pastrami. Cow pancetta sirloin turkey bacon t-bone pastrami meatloaf doner corned beef. Tail ball tip fatback, ribeye strip steak meatloaf hamburger. Strip steak corned beef tongue andouille.</p></article>
    </section>
    <section class="row">
        <article class="col span_4 bg1"><h3>col span_4</h3><p>Boudin ground round beef ribs corned beef, short ribs pork loin shank. Meatball hamburger kielbasa, pancetta pork chop venison bacon sausage turducken cow andouille jerky. Spare ribs t-bone chuck drumstick, swine turkey andouille doner short loin hamburger beef ribs. Short ribs tongue ham doner ham hock turkey rump pastrami strip steak.</p></article>
        <article class="col span_4 bg2"><h3>col span_4</h3><p>T-bone chuck swine chicken tenderloin, sirloin pancetta bacon leberkas corned beef beef ribs beef pork belly. Filet mignon ground round chuck fatback bresaola short loin flank doner turducken tri-tip shankle drumstick strip steak sausage. Meatball rump doner, corned beef turkey salami filet mignon capicola. Strip steak spare ribs prosciutto chicken ham shankle ribeye pork belly. Boudin tenderloin pork loin flank, turducken short loin pastrami meatloaf sausage meatball capicola tongue sirloin.</p></article>
        <article class="col span_4 bg3"><h3>col span_4</h3><p>Jowl tail beef, venison ribeye flank corned beef strip steak jerky sausage pork belly. Pork meatloaf capicola rump frankfurter. Bresaola beef ribs pork ribeye turducken shoulder chuck biltong spare ribs ham hock sirloin tail prosciutto rump ham. Shank meatloaf tenderloin turducken brisket frankfurter pork belly rump, boudin beef chuck beef ribs. Ground round sirloin shank filet mignon, tail beef boudin flank doner turducken fatback brisket cow. Fatback chicken shankle capicola shoulder frankfurter brisket meatball bacon.</p></article>
        <article class="col span_4 bg4"><h3>col span_4</h3><p>Pork loin shank rump ham tri-tip short ribs frankfurter salami pancetta jerky bacon beef ribs brisket t-bone leberkas. Beef ribs cow leberkas beef, tenderloin spare ribs pork drumstick pig bresaola short loin. Cow tri-tip ribeye chuck ball tip beef spare ribs sausage flank ham andouille pork belly. Pork chop sausage tri-tip, corned beef leberkas tenderloin pancetta bresaola ham strip steak meatloaf pastrami beef tail ribeye. Venison spare ribs doner pork, bacon fatback turducken ball tip swine flank sausage pastrami. Tenderloin filet mignon turducken, pork belly short loin pork loin pig.</p></article>
    </section>
    <section class="row">
        <article class="col span_1 bg4">&nbsp;</article><article class="col span_1 bg2">&nbsp;</article><article class="col span_1 bg4">&nbsp;</article><article class="col span_1 bg2">&nbsp;</article>
        <article class="col span_1 bg4">&nbsp;</article><article class="col span_1 bg2">&nbsp;</article><article class="col span_1 bg4">&nbsp;</article><article class="col span_1 bg2">&nbsp;</article>
        <article class="col span_1 bg4">&nbsp;</article><article class="col span_1 bg2">&nbsp;</article><article class="col span_1 bg4">&nbsp;</article><article class="col span_1 bg2">&nbsp;</article>
        <article class="col span_1 bg4">&nbsp;</article><article class="col span_1 bg2">&nbsp;</article><article class="col span_1 bg4">&nbsp;</article><article class="col span_1 bg2">&nbsp;</article>
    </section>
    <footer class="row">
        Copyright &copy; 2013 Aidan Ryan
    </footer>
</div>
