body {
    background: #ccc;
}
.pagewrap {
    border: #b0b0b0 1px solid;
    -webkit-box-shadow: 0.5em 0.5em 0.8em rgba(135, 135, 125, 0.8);
    box-shadow: 0.5em 0.5em 0.8em rgba(135, 135, 125, 0.8);
}
.header-main {
    padding-left: 0.5em;
    background-color: #66cdaa;
}
.header-sub {
    padding-left: 0.5em;
    background-color: #cdaa66;
}
.image-group {
    padding-top: 0.5em;
}
  .image-group img {
      width: 100%;
      height: auto;
      padding-bottom: 0.5em;
      overflow: hidden;
  }
.lightbox {
    clear: both;
    overflow: hidden;
    background-color: #222;
    padding: 0 0.5em;
}

.zoom-crop {
  margin: 0.5em auto;
  overflow: hidden;
  max-height: 12.875em;
}

  .zoom-crop img{
    margin: -8em;
    display: block;
  }

.lightbox object, .fallback-img {
  margin: 0 auto;
  display: block;
}
video {
    display: block;
    width: 100%;
    height: auto;
    max-width: 1024px;
    margin: 0 auto;
}

/* 2 by 2 image grid at 40em width */
@media only screen and (min-width: 40em) {
    .image-group {
        clear: both;
        overflow: hidden;
    }
      .image-group img {
          float: left;
          width: 50%;
          height: auto;
          padding-right: 0.5em;
      }

    .zoom-crop {
      max-height: none;
    }
      .zoom-crop img {
        margin: auto;
        width: 100%;
        max-width: 40em;
        height: auto;
      }
}

/* 4-wide strip at 60em width */
@media only screen and (min-width: 60em) {
    .image-group {
        float: left;
        clear: none;
        width: 50%;
    }
      .image-group img {
          float: left;
          width: 50%;
          height: auto;
      }
}